body{
    margin:0;
    font-family:sans-serif;
    background:#202225;
    color:white;
}

.container{
    width:900px;
    margin:auto;
    padding:40px;
}

video{
    width:400px;
    background:black;
    margin:10px;
}